<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <h3>Warehouse list</h3>
    <p class = "text-left">Click on add item to add a new item to this warehouse
    </p>
    <a href ="/" class="btn btn-danger btn-sm>">
        &nbsp;Cancel
      </a>
    <form method="POST">
        <table class = "table">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Item Quantity</th>
              </tr>
            </thead>
            <tbody>
                  <tr>
                    <td>
                      <select name="item" id="item">
                        <% for(let count=0; count < items.length; count++) { %>
                          <option id="<%=items[count]._id%>"><%=items[count].Name%></option>
                        <% } %>
                      </select>
                    </td>
                    <td>
                        <input name="itemQuantity" id="item quantity"> </input>
                    </td>
                    <td>
                        <input class = "btn btn-primary" type="submit" value="Save"></input>
                    </td>
                  </tr>
            </tbody>
          </table>
    </form>
    
  </body>
</html>